# Dirty workaround to allow extra monitors/external capture devices
SUBSYSTEM=="drm", ACTION=="change", RUN+="/usr/bin/sudo -u stepmania /usr/bin/bash -c 'sleep 6 && /opt/game/outputs_to_main_res.sh' &"
